<div class="m-4">
    <div>
        <a href="/me/stored/courses">Danh sách khóa học</a>
        <h2>Khóa học đã xóa</h2>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Slug</th>
                <th scope="col" colspan="2">Delete time</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.slug}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Restore</a>
                        <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#deleteCourse">Again delete</a>
                    </td>
                </tr>

            {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Thùng rác trống.
                        <a href="/me/stored/courses">Danh sách khóa học</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Modal delete course --}}
<div id="deleteCourse" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you want delete course?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="btn-delete-course" class="btn btn-danger">Force delete</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-name" method="POST"></form>
<form name="restore-course-name" method="POST"></form>

<script>
    document.onreadystatechange = function () {
        if (document.readyState === 'interactive') {
            var courseId;
            var btnDeleteCourse = document.querySelector('#btn-delete-course');
            var deleteForm = document.forms['delete-course-name'];
            var restoreForm = document.forms['restore-course-name'];
            var restoreBtn = $('.btn-restore');

            $('#deleteCourse').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                courseId = button.data('id');
            })

            btnDeleteCourse.onclick = () => {
                deleteForm.action = `/courses/${courseId}/force?_method=DELETE`;
                deleteForm.submit()
            }

            // Restore btn clicked
            restoreBtn.click(function(e) {
                e.preventDefault()
                var courseId = $(this).data('id');
                restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`;
                restoreForm.submit()
            })

        }
    }
</script>