<div class="m-4">
    <h2>My Courses</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Slug</th>
                <th scope="col" colspan="2">Create time</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.slug}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Updated</a>
                        <a href="" class="btn btn-link">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>